/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/

/*palette colors:
color: rgb(0, 0, 0); black
color: rgb(102, 102, 110); dark grey
color: rgb(153, 153, 161); grey
color: rgb(230, 230, 233); light grey
color: rgb(244, 244, 246); almost white
*/


/*Estilos*/
.imglogo {
    width: 2rem;
    height: 2rem;
}
.nav-tipo {
    color: rgb(255, 255, 255);
}
.nav-bg {
    background-color: black;
}
.img-carousel {
    width: 100%;
    height: 30rem;
}
.bg-color-grey {
    background-color: rgb(102, 102, 110);
}
.bg-color-lgrey {
    background-color: rgb(230, 230, 233);
}

.text-tipo {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
}

.margin1 {
    margin: 1rem 20% 0% 20%;
}
.btn-color {
    background-color: black;
    color: white;
}
.btn-form{
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.margintop {
    margin-top: 1rem;
}
.img1 {
    top: -13rem;
}

.img2 {
    top: -5rem;
}